# pip install -r requirements_win.txt
tensorflow-macos
tensorflow-metal
tensorflow-datasets
pandas
numpy
matplotlib
scikit-learn
pykalman
hurst
yfinance
backtesting
seaborn

# ta-lib does not install with pip install ta-lib, use this instead:
# conda install -c conda-forge ta-lib